<!DOCTYPE html>
<html lang="en">

<!-- For new .ejs templates, make a copy of this file, rename and edit it -->
<head>
	<% include partials/page/head.ejs %>
    <!-- Remember to include proper path to CSS file on line 8 -->
	<link rel="stylesheet" type="text/css" href="stylesheets/">
</head> 

<body>
	<% include partials/page/navbar.ejs %>
    <!-- Begin your work here! -->
    <% include partials/page/footer.ejs %>
    <% include partials/page/jsdefault.ejs %>
</body>
</html> 