<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/page/head.ejs %>
	<link rel="stylesheet" type="text/css" href="stylesheets/policies.css">
	<link rel="stylesheet" href="bootstrap.vertical-tabs.css">
</head> 

<body>

	<% include partials/page/navbar.ejs %>

	<!-- policy-tabs ==================================================-->
	<div class="container policy-tabs">
		<div class="page-header">
			<h1>BQE Wine & Liquor Policies</h1>
	    </div>

	    <div class="row" style="min-height:600px;">
	    	<div class="col-md-3"> <!-- required for floating -->
	    		<ul class="nav nav-tabs tabs-left">
	            <li class="active"><a href="#order" data-toggle="tab">ORDER</a></li>
	            <li><a href="#payment" data-toggle="tab">PAYMENT</a></li>
	            <li><a href="#returns" data-toggle="tab">RETURNS</a></li>
	            <li><a href="#discount" data-toggle="tab">DISCOUNT</a></li>
	          </ul>
	        </div>

	        <div class="col-md-9">
	         	<!-- Tab panes -->
		        <div class="tab-content">
		            <div class="tab-pane active" id="order">
		            	<h3>ORDER POLICY</h3>
			            <p>We apologize for the inconvenience, but currently we do not deliver, nor do we use any shipping company to deliver for us. Hence, the only option at the present moment is to place your order for pick up. Orders may be placed in two ways:</p>
			            <ol>
			            	<li>Order over the phone at 718-389-3533</li>
			            	<li>Via fax 718-389-0476</li>
			            </ol>
			            <p>Please allow reasonable amount of time to prepare your order, as most orders are ready in no more than 20 minutes, however some exceptionally large orders may take longer.</p>
		            </div>
		            <div class="tab-pane" id="payment">
		            	<h3>PAYMENT POLICY</h3>
		            	<p>BQE Wine & Liquors accepts three forms of payment: cash, Visa card and MasterCard. We do not accept payments over the phone. <br><br>Please be advised that federal law requires one to be at least 21 years old to purchase alcohol, thus valid proof of age is required with a government-issued ID.</p>
 					</div>
		            <div class="tab-pane" id="returns">
			            <h3>RETURN POLICY</h3>
			            <p>We do not accept any returns for store credit or refund unless the merchandise is evidently defective due to our fault or that of our suppliers. If that is the case, please contact us within 5 business days of purchase and have the original sales receipt, bottle of product, and original cork ready for evaluation.<br><br>The State Liquor Authority does not approve the acceptance of the return of liquor or wine purchased by a customer in error.</p></div>
		            <div class="tab-pane" id="discount">
		            	<h3>DISCOUNT POLICY</h3>
	            		<p>Please note that sale items are not subject to any further discount, however they help you reach required discount levels.</p>

	            		<hr>
	            		<table>
	            			<caption>Wines, Champagnes and Sparkling Wines</caption>
	            			<tr>
        						<td colspan="3">Number of bottles:</td>
        					</tr>
        					<tr>
        						<td>3 - 5</td>
        						<td>6 - 11</td>
        						<td>12 or more</td>
        					</tr>
        					<tr>
        						<td>10% off</td>
        						<td>15% off</td>
        						<td>20% off</td>
        					</tr>
        				</table>
        				<hr>
        				<table>
        					<caption>Spirits</caption>
        					<tr>
        						<td colspan="2">Value of Items Shopped:</td>
        					</tr>
        					<tr>
        						<td>$100 + tax</td>
        						<td>$200 + tax</td>
        					</tr>
        					<tr>
        						<td>10% off</td>
        						<td>15% off</td>
        					</tr>
        				</table>
        				<hr>
        				<table>
        					<caption>Mixed shopping</caption>
        					<tr>
        						<td id="hide-cell" colspan="2" rowspan="2"></td>
        						<td colspan="3">Number of Bottles:</td>
        					</tr>
        					<tr>
        						<td>3 - 5</td>
        						<td>6 - 11</td>
        						<td>12 or more</td>
        					</tr>
        					<tr>
        						<td rowspan="2">Value of Items Shopped</td>
        						<td>$100 + tax</td>
        						<td>Wines 10% off<br>Spirits 10% off</td>
        						<td>Wines 15% off<br>Spirits 10% off</td>
        						<td>Wines 20% off<br>Spirits 10% off</td>
        					</tr>
        					<tr>
        						<td>$200 + tax</td>
        						<td>Wines 15% off<br>Spirits 15% off</td>
        						<td>Wines 15% off<br>Spirits 15% off</td>
        						<td>Wines 20% off<br>Spirits 15% off</td>
        					</tr>
        				</table>
        				<hr>

	            		<p>To receive a discount, one is not limited to purchasing only one type of spirit, wine, champagne or sparkling wine, but may purchase assorted varieties.</p>

		            </div>
	          	</div>
	        </div>
	    </div>
    </div>

	<% include partials/page/footer.ejs %>
	<% include partials/page/jsdefault.ejs %>
</body>
</html> 