/*Navbar Styling*/
.BQE-navbar .navbar{
  background-color: #f7f6f2;
}

#logo {
  height: 100px;
  padding: 2px;
}

.navbar-top-half {
  position: relative;
  left: -15px;
  padding-top: 13px;
  padding-bottom: 10px;
}

.navbar-top-half .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 34px;
  width: 40px;
}

.navbar-top-half .checkout-btn {
  width: 110px;
  top: 1px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-bottom-half ul li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

.navbar-bottom-half .active a {
  background-color: #6b1616 !important;
}


/*Carousel Styling*/
.carousel {
  height: 500px;
  margin-bottom: 50px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 12px 12px;
  color: white;
  z-index: 10;
}

.carousel-caption h1, p {
    font-family: 'Open Sans', sans-serif;
}

.carousel-caption a {
  background-color: #6b1616;
  color: white;
}

.carousel-caption a:hover{
  color: #d1d1d1;
}

.carousel-caption a:focus{
  color: white;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/*Featured Selection Styling*/
.featured-selection h1 {
	text-align: center;
  padding-bottom: 10px;
  font-family: 'Merriweather', serif;
  color: #6b1616;
}

.featured-selection .col-lg-4 {
  margin-bottom: 50px;
  text-align: center;
}

.featured-selection h5 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.featured-selection .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}


/*Email Signup Styling*/
.email-signup {
	background-image: url("img/signup-banner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.email-signup .container h2, p {
	text-align: center;
	color: white;
}

.email-signup .container h2 {
  font-family: 'Montserrat', sans-serif
}

.email-signup .container p {
  font-family: 'Open Sans', sans-serif;
}

.email-signup .container a {
  background-color: #6b1616;
  color: white;
}

.email-signup .container a:hover {
  color: #d1d1d1;
}


/*Featurette Styling*/
.featurette-divider {
  margin: 50px;
}

.featurette-heading {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  color: #6b1616;
}

.featurette p {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.featurette-heading, .featurette p {
  text-align: center;
}


/*Footer Styling*/
.footer {
  background-color: #f7f6f2;
}

.footer .row h3 {
	text-align: center;
  font-family: 'Merriweather', serif;
  color: #6b1616;
}

.footer .list-group {
  padding: 0px 10px 0px 10px;
}

.footer .list-group .list-group-item {
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  color: black;
}

.footer .row p {
  text-align: left;
  padding-left: 12px;
  font-family: 'Merriweather', sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: black;
}