<footer class="footer">

	<div class="container">

		<div class="row col-md-4">
			<h3>Info</h3>
			<div class="list-group">
				<button type="button" class="list-group-item list-group-item-action">Visit our Blog</button>
				<button type="button" class="list-group-item list-group-item-action">View Catalog</button>
				<button type="button" class="list-group-item list-group-item-action">See Policies</button>
			</div>
		</div>

		<div class="row col-md-4">
			<h3>Account</h3>
			<div class="list-group">
				<button type="button" class="list-group-item list-group-item-action">Login</button>
				<button type="button" class="list-group-item list-group-item-action">Create Account</button>
				<button type="button" class="list-group-item list-group-item-action">Order History</button>
			</div>
		</div>

		<div class="row col-md-4">
			<h3>Store Hours and Directions</h3>
			<p>BQE Wine & Liquors <br> 504 Meeker Ave <br> Brooklyn, NY 11222 <br> (718) 389-3833</p>
		</div>

	</div>
</footer>