	<div class="BQE-navbar">
		<nav role="navigation" class="navbar navbar-default">  
			<div class="navbar-header">
				<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div id="navbarCollapse" class="collapse navbar-collapse">
				<div class="container">
					<div class="row">

						<div class="col-md-2">
							<a href="#" class="navbar-left"><img id="logo" src="images/logo.png"></a>
						</div>

						<div class="col-md-10">
							<div class="row navbar-top-half">
								<div class="col-md-10 col-sm-10">
									<div class="input-group">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">
												<i class="glyphicon glyphicon-search"></i>
											</button>
										</span>
										<input type="text" class="form-control" placeholder="Search for..." /*>
									</div>
								</div>
								<div class="col-md-2 col-sm-2">
									<button type="button" class="btn btn-default checkout-btn">
										<span class="glyphicon glyphicon-shopping-cart"></span> Checkout
									</button>
								</div>
								
							</div>

							<div class="row navbar-bottom-half">
								<ul class="nav nav-pills nav-justified">
									<li <% if (title === 'Home') { %>class="active" <% } %> ><a href="/home">Home</a></li>
									<li <% if (title === 'Wines') { %>class="active" <% } %> ><a href="/wines">Wines</a></li>
									<li <% if (title === 'Spirits') { %>class="active" <% } %> ><a href="/spirits">Spirits</a></li>
									<li <% if (title === 'Contact') { %>class="active" <% } %> ><a href="/contact">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div> <!-- ./BEQ-navbar -->